body {
	background-image: url(./images/background.jpg);
	}
	
li {
	list-style: none;
	display: inline;
	text-align: center;
	}

li a{
	text-decoration: none;
	color: #60779b;
	margin: 5px;
}

.travelbanner{
	padding-left: 30px;
	border-style: solid;
	margin-top: 30px;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav {
	border-style: solid;
	width: 30%;
	border-radius: 25px;
	}
	
	
#login {
	float: right;
	display: inline;
	}
	
#logout {
	float: right;
	display: inline;
	}