body {
	background-color: #8DA1C3;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	}
h3 {
	margin: auto;
	text-align: center;
	}
	
ol, ul{
	text-align:center;
	}

	
li {
	list-style: none;
	display: inline;
	margin: 15px;
	}

li a, ul a{
	text-decoration: none;
	color: black;
	font-family: 'Monda', sans-serif;
	}

li a:hover{
    background-color: #447CBC;
	}



nav {
	border-style: solid;
	border-color: #285174;
	border-radius: 25px;
	background-color: #D8DBE1;
	margin-right: 30px;
	margin-left: 30px;
	
	}
	
#login {
	float: right;
	display: inline;
	}
	
#logout {
	float: right;
	display: inline;
	}
	

.ui-datepicker {
    background: #FFF;
}

#pickone{
	margin-top: 20px;
	}
	
.travelbanner .container{
	background-image: url(./images/background.jpg);
	border-style: solid;
	border-color: #285174;	
	margin-top: 15px;
	text-align: center;
	font-size: 20px;
	font-family: 'Monda', sans-serif;
	}

#map {
    height: 500px;
	width:40%;
    top: 50%;
    left: 50%;
    margin-left: -15em;
    position:fixed;
    text-align: center;
}


#footer{
	margin-top:15px;
	border-style: solid;
	border-color: #285174;
	background-color: #D8DBE1;
	position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
	}
	
	
#test1 {
  display:table;
  width:700px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}
	  
#pickone {
  display:table-row;
}
#pick1 {
  display:table-cell;
  width:200px;
}
#pick2 {
  display:table-cell;
  width:200px;
}
#pick3 {
  display:table-cell;
  width:200px;
}
	
#bookings, th, td {
   border: 1px solid black;
}

#bookings{
	margin-top: 15px;
	}
	
#signup{
	width: 40%;
	border-style: solid;
	border-color: #285174;
	margin: auto;
	margin-top: 90px;
	text-align: center;
	}
	
#signup .container{
	margin-top: 15px;
	margin-bottom: 15px;
	}
	
#signup p{
	padding: 15px;
	}
	
#membercontent{
  display:table;
  width:700px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}
	  
#members {
  display:table-row;
}

#content3 {
  display:table-cell;
  width:200px;
  text-align:justify;
  padding: 30px;
}

#content2 {
  display:table-cell;
  width:200px;
  text-align: justify;
  padding:30px;
}


	





